name: Generate PDF

on:
  workflow_dispatch:
  push:
#    branches-ignore: # Disable
#      - '**'
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 5

    steps:
      - name: Checkout
        uses: actions/checkout@v3.0.2
      - name: Install Node 16
        uses: actions/setup-node@v2
        with:
          node-version: '16'
          cache: npm
      - name: Install md-to-pdf
        run: npm i -g md-to-pdf
      - name: Generate PDF
        run: npx md-to-pdf history.pdf
      - name: Upload PDF
        uses: actions/upload-artifact@v3
        with:
          name: history.pdf
          path: history.pdf
